* {
    box-sizing: border-box;
}

body {
    background: #D9CFC7;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #313740;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: #313740;
    padding: 25px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.header_headline {
    font-size: 1.3em;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

.content {
    padding: 25px;
}

.teaser {
    width: 100%;
    padding: 15px;
    background: #ffffff;
    margin-bottom: 25px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    display: block;
}

.teaser__image {
    max-width: 100%;
    height: auto;
}

.teaser__headline {
    font-size: 1em;
    line-height: 1.4;
    color: #313740;
    font-weight: 700;
    display: block;
    margin: 0;
}

.teaser__text {
    font-size: .8em;
    line-height: 2em;
    color: #313740;
    font-weight: 700;
    display: block;
    margin: 0;
    margin-bottom: .5em;
}

.icon-link {
    color: #ffffff;
    display: block;
    float: right;
}

@media (min-width: 700px) {
    .teasers {
        display: flex;
        justify-content: space-between;
    }

    .teaser {
        width: calc((100% / 3) - 10px);
    }
}