* {
    box-sizing: border-box;
}

body {
    background: #223143;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 768px;
    margin: 0 auto;
    background: #6189a5;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #223143;
    padding: 15px;
}

.header_headline {
    font-size: 1em;
    color: #223143;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.content {
    padding: 15px;
}

.teaser {
    width: 100%;
    padding: 15px;
    background: #223143;
    margin-bottom: 15px;
}

.teaser__image {
    max-width: 100%;
    height: auto;
}

.teaser__headline {
    font-size: .8em;
    line-height: 2em;
    color: #ffffff;
    font-weight: 700;
    display: block;
    margin: 0;
    margin-bottom: .5em;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5em;
}

.teaser__text {
    font-size: .8em;
    line-height: 2em;
    color: #ffffff;
    font-weight: 700;
    display: block;
    margin: 0;
    margin-bottom: .5em;
}

@media (min-width: 700px) {
    .teasers {
        display: flex;
        justify-content: space-between;
    }
    .teaser {
        width: calc((100% / 3) - 10px);
    }
}